{% load common_filters %}
<li id={{ atask.pk|add_prefix:"task-"}} class="task-item">
    <div class="title">
        <input type="checkbox"></input>
        <a>{{ atask.title }}</a>
    </div>
    <div class="operation">
        <label>{{ atask.curr_step }}/{{ atask.nstep }}</label>
        <label>diary</label>
        <a href="#">==></a>
    </div>
    <div class="misc-operation">
    </div>
    <div class="process">
		<ul class="process-bar">
        {% for i in atask.nstep|get_range %}
            {% if i < atask.curr_step %}
            <li><a href="" class="step{{i}} step-past" >{{i}}<span>&nbsp;</span></a></li>
            {% endif %}
            {% if i = atask.curr_step %}
            <li><a href="" class="step{{i}} step-curr" >{{i}}<span>&nbsp;</span></a></li>
            {% endif %}
            {% if i > atask.curr_step %}
            <li><a href="" class="step{{i}} step-future" >{{i}}<span>&nbsp;</span></a></li>
            {% endif %}
        {% endfor %}
		</ul>
	</div>

</li>
