<div class="boxed clearfix">

    <div id= "task-menu" class="task-menu operation clearfix">
        <input id="select-all-tasks" type="checkbox" class="task-checkbox" /> 
        <a id="move-select-forward" href="#">==></a>
        <a id="move-select-backward" href="#"><==</a>
        <a id="delete-select-task" href="#">X</a>
    </div>

    <ul id="task-list" class="task-list clearfix">
    {% for atask in task %}
        {% include "main/task/task_item.html" %}
    {% endfor %}
    </ul>
    <a class="detail task-detail" href="/task/overview_task/">more</a>
</div>
