@charset "utf-8";
#wrapper {
    width:80%;
}

.wrapper .header {
    top:0px; 
}
.wrapper .main {
    margin:0 auto;
    margin-top:175px;
}

.wrapper .footer {
position:fix;
bottom:10px;
}


.warning {
    position:absolute;
    color:Darkorange;
    font-weight:bold;
    font-size:25px;
    padding:3px;
}

.help-msg {
    padding:5px;
    width:275px;
    margin:auto;
    margin-top:0px;
    margin-bottom:20px;
    background: gray none repeat scroll 0;
    border: 1px solid darkorange;
}

/* login part*/
.login-box, .register-box {
    position:relative;
}

/* centering the form */
.login-form , .register-form {
    margin:0px auto;
    width:380px !important;
    height:400px;
}

.userinfo-form {
    margin:auto;
}

.form-title {
    border-radius:4px;
    background-color:darkgray;
    padding:2px 2px 2px 21px;
    font-size:30px;
}

.form-body {
    padding:38px;
    background-color:dimgray;
    overflow:hidden;
    font-size:18px;
}

.form-body input {
    padding:2px;
    border-radius:4px;
    width:295px;
    font-size:22px;
    margin-top:5px;
}


.form-body p {
    margin-bottom:0px;
    margin-top:15px;
    color:white;
}

.form-footer {
    text-align:right;
    background-color:#f9f9f9;
    padding:12px 12px 18px 12px;
    border-radius:0 0 6px 6px;
}

.form-footer .submit-button {
    cursor:pointer;
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(255,255,255,0.5) inset;
    background:white;
    border-color:gray;
    color:dimgray;
    opacity:0.8;
}
.form-footer .submit-button:hover {
    background:gray;
    color:white;
   box-shadow:0 1px 1px rgba(255,255,255,0.5) inset,0 0 2px rgba(0,0,0,0.2);
   opacity:0.9;
}
.form-footer .submit-button:active {
   box-shadow:0px 0px 6px 0px rgba(0,0,0,0.1) inset;
   opacity: 1;
}

