@charset "utf-8";

/* RESETS */
* { 
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    overflow-y:scroll;
}

body {
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, 'Hiragino Sans GB', sans-serif;
    color: #555;
    background: url(../img/body.png)
}

a {
    padding:9px 10px 8px;
    color:#333;
    font-size:15px;
    line-height:20px;
    text-decoration:none; 
}

a:hover {
    text-shadow:1px 1px #6a8c1a;
    text-decoration:none;
}


/* mine */

input, select, label, button{
    padding: 5px;
    font-size: 16px;
    height: 34px; 
}

#wrapper {
    position:relative;
}

/*暂时不显示登录界面的logo
 */
.account .logo {
    display:none;
}
.logo {
    position:absolute;
    left:30px;
    top:20px;
    height:30px;
}
.logo a {
    font-family: "Lucida Console", Courier, monospace;
    font-family:"New Century Schoolbook", Times, serif ;
    font-size:28px;
    font-style:italic;
}
.menubar{
    float:center;
}

#header ul, #footer ul {
    text-align:center;
}

ul li {
    display:inline;
}

.header-navigation {
    font-size:20px;
    margin:0;
    padding:14px;
    overflow:hidden;
    padding-bottom:0px;
    border-bottom:1px solid white;
}

.userinfo, .logout {
    float:right;
    margin-right:10px;
}

/* minimum hight */
#wrapper #main {
    min-height:550px;
}


.clearfix{
    /*
    real func implemented in 960.css
    border:1px dashed gray;
     */
    margin:3px;
    padding:4px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
