@charset "utf-8";

/* RESETS */
* { 
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    overflow-y:scroll;
}

body {
    font-family:"楷体";
    color: #555;
    background-color:darkgray;
}

a {
    font-family:"楷体";
    color:#333;
    text-decoration:none; 
}

a:hover {
    text-shadow:-1px -1px #111111;
    text-decoration:none;
}


/* mine */

input, select, label {
    padding: 5px;
    font-size: 16px;
    height: 34px; 
}
ul li {
    display:inline-block;
}

#wrapper {
    background-color:gray;
    margin:0 auto;
    width:80%;
    position:relative;
}

.header {
    width:100%;
    left:0px;
    font-size:20px;
    height:31px;
    background:darkgray;
    position:fixed;
    text-align:center;
    opacity:0.9;
    z-index:1000;
    border-bottom:1px solid white;
}

.logo {
    position:absolute;
    height:28px;
    left:10%;
    top:2px;
}
.logo a {
    font-family:"New Century Schoolbook", Times, serif ;
    font-size:28px;
    font-style:italic;
}
.logo a:hover {
   font-style:normal; 
}

.header .header-nav {
    font-size:22px;
    margin-top:5px; 
}

.header .header-nav li {
    padding:0 6px;
}
.header-nav li.userinfo {
    position:absolute;
    right:10%;
}

.top-box {
    position:relative;
    margin:0 auto;
    margin-left:3%;
}

.left-box {
    position:relative;
    float:left;
    width:52%;
    margin-left:3%;
}
.right-box {
    position:relative;
    float:right;
    width:36%;
    margin-right:3%;
}
.right-box .note-box, .right-box .reminder-box {
    position:relative;
    float:left;
    width:100%;
}

.footer-nav {
    width:100%;
    text-align:center;
    margin-top:18px;
}

.footer-nav li {
    font-size:14px;
    padding:0 10px;
}

/* minimum hight */
#wrapper #main {
    min-height:666px;
}


.clearfix{
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}
