@charset "utf-8";

/* common style*/
.box {
    border:1px dotted black;
           padding-bottom:8px;
           margin-bottom:2px
}

.box .boxed .operation a:hover {
    background:rgba(66, 151, 218, 0.6);
    border:1px solid green;
}
.box .boxed .operation a:active {
    background:rgba(66, 151, 218, 1);
}
h2.part-title {
    padding:0;
    margin:10px 0 0 0;
    color:darkgray !important;
}
/* end common style*/

/*
 create part
 */
.top-box {
    margin-top:50px;
}

.top-box .create {
    margin:0 0 25px 30px;
}

/* set the up/down arrows */
.top-box .create input::-webkit-outer-spin-button,
.top-box .create input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: inline;
    padding:0 0px 0 6px;
    margin: 0px; /* <-- Apparently some margin are still there even though it's hidden */
}

.top-box .type-select {
    border:2px solid white;
    margin-right:10px;
    cursor: pointer;
}
.top-box .type-select:hover {
    background-color:darkgray;
}

.top-box .title-input, .top-box .time-input {
    padding-top:0px;
    padding-bottom:0px; 
    height:28px;
    border-radius:5px;
    margin-right:10px;
}

.top-box .para {
    margin-right:10px;
}
.top-box .create .para {
    display:inline;
}

.top-box .step-input, .top-box .freq-input {
    padding: 0;
    height: 28px;
}

.top-box .create-button {
    font-size:14px;
    padding:0.5em 1em;
    margin:0.5em;
    border-radius:4px;
    border:1px solid white;
    cursor: pointer;
}

.top-box .create-button:hover {
    font-weight:bold;
    background-color:darkgray;
    opacity:0.9;
}
.top-box .create-button:active {
   opacity:1;
   color:white;
}

/*
 share by left&right box
 */
.boxed {
    padding:0 9px 6px 0;
    border:2px solid white;
}

.boxed  li {
    display:block;
    border-bottom:1px dotted white;
    margin-top:12px;
    margin-bottom:0px;
}
.boxed .operation {
    display:block;
    font-size:15px;
    text-align:right;
}

.boxed .misc-operation {
    display:none;
    font-size:13px;
    text-align:right;
}



.left-box {
    padding-top:1px;
    position:relative;
}
.left-box .task-menu {
    position:absolute;
    text-align:right;
    top:5px;
    right:5px;
}
.task-menu input.task-checkbox {
    position:relative;
    top:12px;
    right:8px;
}

.left-box .title {
    display:block;
    overflow:hidden;
    font-size:16px
}

/* 使input下沉 */
.left-box .task-item .title input {
    position:relative;
    top:10px;
    left:0px;
}

.left-box div.process {
    overflow:hidden;
}

.left-box ul.process-boar {
    margin:0 auto;
    list-style:none;
    list-style-position:inside;
}

.left-box div.process li {
    float:left;
    border-bottom:none;
    font-size:16px;
    line-height:16px;
    margin:2px;
    padding-right:5px;
}
.left-box div.process li a {
    width:13px;
    display:inline-block;
	position:relative;
	padding:8px 8px 3px 23px;
	background:url(../img/nav-bg-left.png) no-repeat 0 0;
}
.left-box div.process li a.step-curr{
    border-bottom:2px solid white;
}
.left-box div.process li a.step-future {
    border-bottom:2px solid darkgray;
}
.left-box div.process li a.step-past {
    border-bottom:2px solid white;
}

.left-box div.process li a span {
    position:absolute;
	top:0px;
	right:-15px;
	width:15px;
	height:32px;
	background:url(../img/nav-bg-right.png) no-repeat top right;
	z-index:100;
}

.left-box div.process li a:hover, .left-box div.process li a.step-curr {
    background:url(../img/nav-bg-left.png) no-repeat 0 -32px !important;
}
.left-box div.process li a:hover span, .left-box div.process li a.step-curr span {
    background:url(../img/nav-bg-right.png) no-repeat right bottom !important;
}


.right-box {
    padding-left:22px;
    float:right;
}

.right-box .note-box, .right-box .reminder-box  {
    float:right;
}


/* make max visible length */
.right-box .title {
    overflow:hidden;
    font-size:18px !important;
    vertical-align:text-bottom;
}
.right-box ul.note-list div.title{
    position:relative;
    top:4px;
}
