@charset "utf-8";

/* temp style*/
.box, .right-box, .left-box {
    border:1px dotted white;
}
.right-box {
    padding-left:22px;
}
/* end temp style*/

.box {
    position:relative;
    margin-left:5px;
}

.top-box .create {
    border:1px dotted white;
    margin-top:-20px;
    padding:20px;
}

.top-box .type-select {
    border:2px solid white;
           margin-right:10px;
}

.top-box .title-input, .top-box .time-input {
    padding-top:0px;
    padding-bottom:0px; 
    height:28px;
    border-radius:5px;
    margin-right:10px;
}

.top-box .para {
    margin-right:10px;
}

.top-box .step-input, .top-box .freq-input {
    padding: 0;
    height: 28px;
}

.top-box .create-button {
    border-radius:4px;
    border:2px solid white;
    margin-left:10px;
}

.right-box {
    float:right;
}

.right-box .note-box,.box .right-box .reminder-box  {
    float:right;
}

.left-box .task-bar {
    margin-top:-20px;
    padding-top:0px;
}

.boxed {
    padding:3px;
    border:1px solid white;
}

.boxed ul {
}

.boxed li {
    display:block;
    margin-left:8px;
    border-bottom:1px dotted white;
    padding-top:12px;
}

/* make max visible length */
.boxed .title {
    position:relative;
    font-size:18px;
    display:inline-block;
    overflow:hidden;
    width:260px;
    text-overflow:ellipsis; /* for windows*/
    white-space:nowrap; /*force no wrap*/
}

.boxed .operation {
    float:right;   
    display:inline;
    font-size:15px;
    vertical-align:sub;
}

.boxed .misc-operation {
    font-size:13px;
    text-align:right;
}

.create .para {
    display:inline;

}

.task-bar {
    position:relative;
    text-align:right;
}
.task-bar input {
    position:relative;
    top:12px;
    right:8px;
}

.boxed .task-list {

}

.task-item .task-checkbox {
    padding-bottom:0px;
}

/* 使元素下沉 */
.task-item .operation {
    padding-top:16px;
}
/* 使input下沉 */
.task-item .title input {
    position:relative;
    top:10px;
    left:0px;
}

.task-item div.process {
    margin-bottom:2px;
    overflow:hidden;
}

.task-item ul.process-boar {
    margin:0 auto;
    list-style:none;
    list-style-position:inside;
}

.task-item .process li {
    float:left;
    border-bottom:none;
    font-size:16px;
    line-height:16px;
}
.task-item div.process li a {
    display:block;
	position:relative;
	padding:8px 8px 3px 23px;
	background:url(../img/nav-bg-left.png) no-repeat 0 0;
}

.task-item div.process li a.step-future {
    border-bottom:2px solid darkorange;
}
.task-item div.process li a.step-past {
    border-bottom:2px solid darkgreen;
}

.task-item div.process li a span {
    position:absolute;
	top:0px;
	right:-15px;
	width:15px;
	height:32px;
	background:url(../img/nav-bg-right.png) no-repeat top right;
	z-index:100;
}

.task-item div.process li a:hover, .task-item div.process li a.step-curr {
    background:url(../img/nav-bg-left.png) no-repeat 0 -32px !important;
	color:#000000;
}
.task-item div.process li a:hover span, .task-item div.process li a.step-curr span {
    background:url(../img/nav-bg-right.png) no-repeat right bottom !important;
}
