{% extends "main/mbase.html" %}
{% load common_filters %}

{% block main %}        

<div id="reminder-box" class="reminder-box reminder-detail clearfix">

    <h2>Reminder</h2>

    <div class="boxed reminder-in-process">
        <h4>In Process</h4>
        {% if not reminder_in_process %}
            <h4 class="reminder-null">None</h4>
        {% endif %}
        <ul id="reminder-list" class="reminder-list clearfix">
        {% for areminder in reminder_in_process %}
        <li id={{ areminder.pk|add_prefix:"reminder-"}}>

             <div class="title">
                <a href="#" title="{{ areminder.title }}">{{ areminder.title }}</a> 
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="boxed reminder-done">
        <h4>Already Done</h4>
        {% if not reminder_done %}
            <h4 class="reminder-null">None</h4>
        {% endif %}
        <ul id="reminder-list" class="reminder-list clearfix">
        {% for areminder in reminder_done %}
        <li id={{ areminder.pk|add_prefix:"reminder-"}}>

             <div class="title">
                <a href="#" title="{{ areminder.title }}">{{ areminder.title }}</a> 
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="boxed reminder-deleted">
        <h4>Deleted</h4>
        {% if not reminder_deleted %}
            <h4 class="reminder-null">None</h4>
        {% endif %}
        <ul id="reminder-list" class="reminder-list clearfix">
        {% for areminder in reminder_deleted %}
        <li id={{ areminder.pk|add_prefix:"reminder-"}}>

             <div class="title">
                <a href="#" title="{{ areminder.title }}">{{ areminder.title }}</a> 
            </div>
        </li>

        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
