{% load common_filters %}
<li id={{ areminder.pk|add_prefix:"reminder-"}}>

    <div class="title">
        <a href="#" title="{{ areminder.title }}">{{ areminder.title }}</a> 
    </div>

    <div class="operation">
        <a class="delete-reminder" id={{ areminder.pk|add_prefix:"delete-reminder-"}} href="#" class title="remove this reminder">delete</a>
        <span class="lsep">|</span>
        <a class="done-reminder" id={{ areminder.pk|add_prefix:"done-reminder-"}} href="#" class title="done this reminder">done</a>
    </div>

    <div class="misc-operation">
        <label>Time:</label>
        <span>{{ areminder.alarm_time|date:"m/d/Y H:i" }}</span>
    </div>
</li>
