<div class="create grid_10 clearfix">
    <input id="title-input" value="input task title here"></input>
    <select id="create-type">
        <option value="task">Task</option>
        <option value="note">Note</option>
        <option value="reminder">Reminder</option>
    </select>
    <div id="step">
        <label>step</label>
        <input type="number" id="step-input" min="1" max="100" />
    </div>
    <div id="alarm-time">
        <label>time</label>
        <input type="text" id="alarm-time-input" value="" class="hasDatepicker" />
    </div>
    <div id="frequence">
        <label>frequence</label>
        <input type="number" id="freq-input" min="1" max="7" />
    </div>
    <button id="create-confirm">confirm</button>
</div>
