<div class="create grid_10 clearfix">
    <input class="task-title" value="input task title here"></input>
    <select id="create-type">
        <option value="task">Task</option>
        <option value="note">Note</option>
        <option value="reminder">Reminder</option>
    </select>
    <div id="step-or-time">
        <label>steps</label>
        <input id="step_input"> </input>
    </div>
    <div id="frequence">
        <label>frequence</label>
        <input id="freq-input"> </input>
    </div>
    <button class="create confirm">confirm</button>
</div>
