{% extends "base.html" %}

{% block title %}{% endblock%}
{% block extra_css %}
    <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
    <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/task.css"/>
    <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/note.css"/>
    <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/reminder.css"/>
{% endblock%}

{% block body %}        
<div id="wrapper" class="clearfix">

    <div id="header" class="header clearfix">
        <div id="logo" class="logo clearfix">
            <a href="/">StepForward</a>
        </div>
        <div id="menu" class="menubar clearfix">
            <ul class="header-nav">
                <li class="personal"><a class="personal" href="/">Personal</a>
                </li>
                <li class="grounp"><a class="group" href="/">Group</a>
                </li>
                <li class="overflow"><a class="overview" href="/">Overview</a>
                </li>
                <li class="alarm"><a class="alarm" href="/">Alarm</a>
                </li>
                <li class="userinfo">
                <a class="userinfo" href="/account/userinfo/">{{user.username}}</a>
<a class="logout" href="/account/logout/">(Logout)</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="main" class="main box clearfix">
    {% block main %}
    {% endblock %}
    </div>

    <div id="footer" class="footer clearfix">
        <ul class="footer-nav">
            <li><a href="/about/">About</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/legal/">Legal</a></li>
            <li><a href="#">{% now "Y" %} Stepf | stepf.net</a></li>
        </ul>
    </div>
</div>
{% endblock %}
