{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/account.css"/>
{% endblock%}

{% block body %}        
<div id="wrapper" class="container_12 clearfix">

    <div id="header" class="grid_12 clearfix">
        <div id="logo" >
            <a href="/">StepForward(Logo)</a>
        </div>
    </div>

    <div id="main" class="account-main grid_12 clearfix">
        {% block mainpart %}
        {% endblock %}
    </div>

    <div id="footer" class="grid_12 clearfix">
        <ul class="footer-navigation">
            <li><a href="/about/">About</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/legal/">Legal</a></li>
            <li><a href="#">{% now "Y" %} Stepf | stepf.net</a></li>
        </ul>
    </div>
</div>
{% endblock %}
