
{% extends "account/abase.html" %}

{% block title%}Account Login{% endblock%}

{% block mainpart %}

<div class="top-box login-box">
    <div class="login-form">
    
        <form action="" method="post">{% csrf_token %}

            <div class="form-title">
                <span>Login</span>
            </div>

            <div class="form-body">
                {% for msg in messages %}
                <p class="help-msg">
                    {{msg}}
                </p>
                {% endfor %}
                {% for field in form %}
                    <p>
                    {{ field.label_tag }}
                    </p>
                    {{ field }}

                    {% if field.errors %}
                        <span class="warning">*</span>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-footer">
                <input type="submit" value="log in" class="submit-button"></input>
                <a href="/account/register/">register here</a> 
            </div>

        </form>

    </div>
</div>

{% endblock %}

