@charset "utf-8";

#wrapper .account-main {
    padding:115px 00px 50px 0;
    min-height:300px !important;
}


.warning {
    position:absolute;
    color:Darkorange;
    font-weight:bold;
    font-size:25px;
    padding:3px;
}

.help-msg {
    padding:5px;
    width:300px;
    margin:auto;
    background: #FFEBE8 none repeat scroll 0;
    border: 1px solid #DD3C10;
}
/* login part*/
.login-box {

}

/* centering the form */
.login-form , .register-form {
    width:380px;
    height:400px;
    margin:auto;
}

.userinfo-form {
    width:600px;
    margin:auto;
}

.form-body input {
    padding:2px;
    border-radius:4px;
    width:295px;
    font-size:22px;
}

.form-title {
    background-color:#a9e1ff;
    padding:2px 2px 2px 21px;
    font-size:30px;
}

.form-body {
    padding:38px;
    background-color:#e9f1f4;
    overflow:hidden;
    border-style:solid;
    font-size:18px;
}

.form-body p {
    margin-bottom:0px;
    margin-top:10px;
}

.form-footer {
    text-align:right;
    background-color:#f9f9f9;
    padding:12px 12px 18px 12px;
    border-radius:0 0 6px 6px;
}

.form-footer .submit-button {
   border-style:solid;
   border-width:1px;
   border-radius:4px;
   box-shadow:0 1px 1px rgba(255,255,255,0.5) inset;
}
.form-footer .submit-button{
   background:#f2f2f2;
   background:rgba(0,0,0,0.05);
   border-color:#eee;
   border-color:rgba(0,0,0,0.1);
   color:#999;
   color:rgba(0,0,0,0.5);
}
.form-footer .submit-button:hover {
   box-shadow:0 1px 1px rgba(255,255,255,0.5) inset,0 0 2px rgba(0,0,0,0.2);
   opacity:0.9;
}
.form-footer .submit-button:active {
   box-shadow:0px 0px 6px 0px rgba(0,0,0,0.1) inset;
   opacity: 1;
   color:rgba(0,0,0,0.2);
}

.form-footer a {
    color:gray;
}
 
