{% extends "main/mbase.html" %}
{% load common_filters %}

{% block main %}        

<div id="note-box" class="note-box note-detail clearfix">

    <h2>Fast Note</h2>

    <div class="boxed note-in-process">
        <h4>In Process</h4>
        {% if not note_in_process %}
            <h4 class="note-null">None</h4>
        {% endif %}
        <ul id="note-list" class="note-list clearfix">
        {% for anote in note_in_process %}
        <li id={{ anote.pk|add_prefix:"note-"}}>
            <div class="title">
                <a href="#" title="{{ anote.title }}">{{ anote.title }}
                </a>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="boxed note-done">
        <h4>Already Done</h4>
        {% if not note_done %}
            <h4 class="note-null">None</h4>
        {% endif %}
        <ul id="note-list" class="note-list clearfix">
        {% for anote in note_done %}
        <li id={{ anote.pk|add_prefix:"note-"}}>
            <div class="title">
                <a href="#" title="{{ anote.title }}">{{ anote.title }}
                </a>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="boxed note-deleted">
        <h4>Deleted</h4>
        {% if not note_deleted %}
            <h4 class="note-null">None</h4>
        {% endif %}
        <ul id="note-list" class="note-list clearfix">
        {% for anote in note_deleted %}
        <li id={{ anote.pk|add_prefix:"note-"}}>
            <div class="title">
                <a href="#" title="{{ anote.title }}">{{ anote.title }}
                </a>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
